* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(163, 163, 163);
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.box1 {
  width: 55%;
  height: 200px;

  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.box1 img {
  width: 200px;
  height: 200px;
}
.box1 h1 {
  color: red;
  margin-left: 30px;
  margin-bottom: 30px;
}
.box1 p {
  margin-left: 30px;
  font-size: 23px;
  color: darkblue;
  font-weight: bold;
}
.box2 {
  width: 55%;
  height: 200px;

  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.box2 img {
  width: 200px;
  height: 200px;
}
.box2 h1 {
  color: red;
  margin-left: 30px;
  margin-bottom: 30px;
}
.box2 p {
  margin-left: 30px;
  font-size: 23px;
  color: darkblue;
  font-weight: bold;
}

.box3 {
  width: 55%;
  height: 400px;

  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.box3 img {
  width: 200px;
  height: 200px;
}
.box3 h1 {
  color: red;
  margin-left: 30px;
  margin-bottom: 30px;
}
.box3 p {
  margin-left: 30px;
  font-size: 23px;
  color: darkblue;
  font-weight: bold;
}
.boxx3 {
  border-radius: 15px;
  display: flex;
}
.boxxx3 {
  width: 55%;
  height: 200px;
  border-radius: 15px;
  display: flex;


}

.box4 img {
  width: 200px;
  height: 200px;
}
.box4 h1 {
  color: red;
  margin-left: 30px;
  margin-bottom: 30px;
}
.box4 p {
  margin-left: 30px;
  font-size: 23px;
  color: darkblue;
  font-weight: bold;
}
